{% set form = active_form_begin({'id': 'form-signup'}) %}

{{ form.field(model, 'username').textInput({'autofocus': true}) | raw }}

{{ form.field(model, 'email') | raw }}

{{ form.field(model, 'password').passwordInput() | raw }}

<div class="form-group">
	{{ html.submitButton('Signup', {'class': 'btn btn-primary', 'name': 'signup-button'}) | raw }}
</div>

{{ active_form_end() }}